---
import { Icon } from "astro-icon/components";
---

<a href="https://www.upwork.com/freelancers/~013e6304d05f0c5ad1" target="_blank" class="underline underline-offset-4 decoration-dashed decoration-brand">
    Andrew Peroramas
</a>
<Icon name="mdi:external-link" class="inline-block w-4 h-4" />
